* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1, h2, h3, p {
  margin: 0;
}

span {
  color: #2196F3;
}

li {
  list-style: none;
  display: inline-block;
}

ul {
  padding: 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section:not(.OurTeam) {
  margin-bottom: 100px;
}

/*
.container {
    width: 1170px !important;
    margin: 0 auto;
    padding: 0 15px;
}
*/
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 80px;
  border-bottom: 2px solid #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

h1, .footer__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #212121;
  -webkit-animation-name: tada;
          animation-name: tada;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__list {
  width: 333px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  height: 40px;
  width: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.nav__link,
.info__link {
  height: 14px;
  text-decoration: none;
  color: #212121;
}
.nav__link:hover,
.info__link:hover {
  color: #2196F3;
}
.nav__link:hover .header-svg-items,
.info__link:hover .header-svg-items {
  fill: #2196F3;
}
.nav__link:not(.active):hover,
.info__link:not(.active):hover {
  color: #2196F3;
}

.nav__link-active {
  color: #2196F3;
}
.nav__link-active::after {
  content: "";
  position: absolute;
  top: 260%;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-animation: line-animate 1.5s ease infinite;
          animation: line-animate 1.5s ease infinite;
}

.nav__item,
.info__item {
  position: relative;
}
.nav__item:not(.active)::after,
.info__item:not(.active)::after {
  content: "";
  position: absolute;
  top: 260%;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.nav__item:not(.active):hover::after,
.info__item:not(.active):hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.info__svg {
  width: 16px;
  height: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}

.hero {
  background-image: url(/images/Img\ \(14\).png);
  background-position: center;
  height: 600px;
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  outline: auto;
}

.hero__h2 {
  font-size: 44px;
  color: #FFFFFF;
}

.hero__button {
  width: 216px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 16px;
  padding: auto;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-animation-name: bnt-jump;
          animation-name: bnt-jump;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.features {
  width: 100%;
  min-height: 248px;
  margin: 100px 0;
}

.features__container {
  min-height: 248px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__items {
  width: 270px;
  height: 248px;
}

.first {
  -webkit-animation: shadow-change 1s ease-in-out infinite;
          animation: shadow-change 1s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.second {
  -webkit-animation: shadow-change 1s ease-in-out infinite;
          animation: shadow-change 1s ease-in-out infinite;
}

.third {
  -webkit-animation: shadow-change 1s ease-in-out infinite;
          animation: shadow-change 1s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.fourth {
  -webkit-animation: shadow-change 1s ease-in-out infinite;
          animation: shadow-change 1s ease-in-out infinite;
}

.features__items:nth-child(1)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("/images/Group.png");
  background-color: #F5F4FA;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.features__items:nth-child(2)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("/images/clock.png");
  background-color: #F5F4FA;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.features__items:nth-child(3)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("/images/diagram.png");
  background-color: #F5F4FA;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.features__items:nth-child(4)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("/images/astronaut.png");
  background-color: #F5F4FA;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features__h3 {
  margin-left: 10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 270px;
}

.features__p {
  margin-left: 10px;
  color: #757575;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 270px;
}

.WhatDoWeDo__container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.WhatDoWeDo__h2 {
  margin: 0 auto;
  font-size: 42px;
  margin-bottom: 20px;
}

.WhatDoWeDo__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.first__img,
.first__p {
  -webkit-animation-name: Y-move;
          animation-name: Y-move;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.second__img,
.second__p {
  -webkit-animation-name: Y-move;
          animation-name: Y-move;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.third__img,
.third__p {
  -webkit-animation-name: Y-move;
          animation-name: Y-move;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.WhatDoWeDo__img {
  width: 370px;
  height: 294px;
  display: block;
}

.img__box {
  width: 370px;
  height: 294px;
  position: relative;
}

.WhatDoWeDo__p {
  height: 70px;
  width: 370px;
  bottom: 0px;
  position: absolute;
  background-color: #2F303A;
  opacity: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.WhatDoWeDo__p > span {
  color: #FFFFFF;
}

.OurTeam {
  background-color: #F5F4FA;
  min-height: 708px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.OurTeam__container {
  min-height: 428px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.OurTeam__h2 {
  font-size: 36px;
  margin-bottom: 50px;
  margin: 0;
}

.OurTeam__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.OurTeam__li {
  width: 270px;
  height: 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 30px -19px rgba(0, 0, 0, 0.76);
          box-shadow: 0px 2px 30px -19px rgba(0, 0, 0, 0.76);
}

.OurTeam__img {
  width: 270px;
  height: 260px;
}

.OurTeam__socialNetwork {
  fill: #AFB1B8 !important;
}

.socialNetwork__circle:hover .OurTeam__socialNetwork {
  fill: rgb(255, 255, 255) !important;
}

.regularCustomers {
  max-width: 1170px;
  min-height: 184px;
  margin: 100px auto;
  padding: 0 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.regularCustomers__h2 {
  font-size: 36px;
}

.regularCustomers__list {
  min-height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.regularCustomers__li {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}
.regularCustomers__li:hover {
  border-color: #2196F3;
}
.regularCustomers__li:hover .customer {
  fill: #2196F3;
}

.customer {
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}

.first__customer {
  height: 47px;
}

.second__customer {
  height: 52px;
}

.third__customer {
  height: 41px;
}

.fourth__customer {
  height: 40px;
}

.fifth__customer {
  height: 45px;
}

.sixth__customer {
  height: 44px;
  width: 170px;
}

footer {
  background-color: #2F303A;
  min-height: 252px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__div-main {
  width: 231px;
  height: 101px;
}

.footer__logo {
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer__list {
  width: 231px;
  height: 81px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__li {
  color: #FFFFFF;
  font-size: 14px;
}

.footer__div-form {
  width: 570px;
  min-height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footerForm__h3 {
  color: #FFFFFF;
}

.footer__form {
  width: 100%;
  height: 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer__form > input {
  width: 450px;
  height: 50px;
  border: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  color: #FFFFFF;
  border-radius: 5px;
}
.footer__form > button {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  border-radius: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
.footer__form > button > svg {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 5px;
}

.socialNetworks {
  width: 206px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}

.socialNetworks__list {
  width: 206px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 !important;
  padding: 0 !important;
}

.socialNetworks__h3 {
  color: white;
  height: 14px;
  font-size: 14px;
}

.socialNetwork__circle {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.235);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}
.socialNetwork__circle:hover {
  background-color: #2196F3;
}

.socialNetwork {
  width: 20px;
  height: 20px;
  fill: white;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 1;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.modal__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.modal__bnt-close {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  background-color: #fff;
  opacity: 0.6;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: border-color 250ms ease, -webkit-transform 250ms ease;
  transition: border-color 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, border-color 250ms ease;
  transition: transform 250ms ease, border-color 250ms ease, -webkit-transform 250ms ease;
}
.modal__bnt-close:hover {
  border-color: #2196F3;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.modal__bnt-close:hover svg {
  fill: #2196F3;
}
.modal__bnt-close svg {
  width: 11px;
  height: 11px;
  fill: #000;
}

.modal__h2 {
  font-size: 20px;
  margin-bottom: 12px;
}

.modal__label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.modal__p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.input__box {
  width: 100%;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}
.input__box:hover, .input__box:focus-within {
  border-color: #2196F3;
}
.input__box:hover .modal__p, .input__box:focus-within .modal__p {
  color: #2196F3;
}
.input__box:hover .input__svg, .input__box:focus-within .input__svg {
  fill: #2196F3;
}

.modal__input {
  width: 448px;
  height: 100%;
  border: none;
  outline: none;
}

.input__svg {
  width: 18px;
  height: 18px;
  margin: 0 10px;
  fill: #000;
  -webkit-transition: fill 250ms ease;
  transition: fill 250ms ease;
}

.modal__textarea {
  width: 97%;
  height: 120px;
  resize: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 8px;
  outline: none;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}
.modal__textarea:hover, .modal__textarea:focus {
  border-color: #2196F3;
}

.modal__label-checkbox {
  font-size: 12px;
}
.modal__label-checkbox a {
  color: #2196F3;
}

.modal__bnt-sub {
  -ms-flex-item-align: center;
      align-self: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: #2196F3;
  color: #fff;
  cursor: pointer;
}

.portfolio__section {
  width: 1770px;
  height: 1360px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters__items {
  background-color: #F5F4FA;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}
.filters__items:hover {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
}

.projects__list {
  min-height: 1264px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.project {
  width: 370px;
  height: 404px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out 200ms;
  transition: -webkit-box-shadow 0.5s ease-in-out 200ms;
  transition: box-shadow 0.5s ease-in-out 200ms;
  transition: box-shadow 0.5s ease-in-out 200ms, -webkit-box-shadow 0.5s ease-in-out 200ms;
}
.project:hover {
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
}
.project:hover .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.projects__h3 {
  font-size: 18px;
}

.projects__p {
  color: #757575;
  margin-bottom: 30px;
}

.project__img {
  width: 370px;
  height: 294px;
}

.overlay__box {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.overlay > p {
  color: #FFFFFF;
  font-size: 18px;
  padding: 63px 24px;
}

@media (max-width: 767px) {
  .container {
    max-width: 450px;
  }
  header {
    height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav,
  .info__list {
    display: none;
  }
  .hero__h2 {
    font-size: 26px;
  }
  .modal {
    width: calc(100% - 30px);
    height: calc(100vh - 184px);
  }
  .features__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .features__items {
    width: 450px;
  }
  .OurTeam__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .WhatDoWeDo {
    display: none;
  }
  footer {
    min-height: 603px;
  }
  .footer__container {
    height: 603px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__list {
    text-align: center;
  }
  .footer__div-form {
    width: 450px;
    height: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__form > input {
    padding: 15px 0px;
  }
  .footer__form > button {
    padding: 15px 0px;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .container {
    max-width: 738px;
  }
  .info__list {
    width: 138px;
    height: 38px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__list {
    width: 283px;
  }
  .hero {
    height: 400px;
  }
  .modal {
    width: 450px;
    height: 609px;
  }
  .features__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
  .features__items {
    width: 354px;
  }
  .first {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .second {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .WhatDoWeDo {
    display: none;
  }
  .OurTeam {
    min-height: 1285px;
  }
  .OurTeam__li {
    width: 354px;
    height: 536px;
  }
  .OurTeam__img {
    width: 100%;
    height: 374px;
  }
  .regularCustomers__li {
    width: 30%;
  }
  .regularCustomers__list {
    gap: 30px;
  }
  .footer__list {
    text-align: center;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__div-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}/*# sourceMappingURL=main.css.map */