// Features section styles

.features {
    width: 100%;
    min-height: 248px;
    margin: 100px 0;
}

.features__container {
    @include flex-between();
    min-height: 248px;
    flex-direction: row;
}

.features__items {
    width: 270px;
    height: 248px;
}

.first {
    animation: shadow-change 1s ease-in-out infinite;
    animation-delay: 0.5s;
}

.second {
    animation: shadow-change 1s ease-in-out infinite;
}

.third {
    animation: shadow-change 1s ease-in-out infinite;
    animation-delay: 0.5s;
}

.fourth {
    animation: shadow-change 1s ease-in-out infinite;
}

.features__items {

    &::before {
        @extend %features__items-after;
        border-radius: 5px;
    }
    
    &:nth-child(1)::before {
        background-image: url("../../images/antena.png");
    }

    &:nth-child(2)::before {
        background-image: url("../../images/clock.png");
    }

    &:nth-child(3)::before {
        background-image: url("../../images/diagram.png");
    }

    &:nth-child(4)::before {
        background-image: url("../../images/austronaut.png");
    }
}

.features__h3 {
    margin-left: 10px;
    order: 1;
    width: 270px;
}

.features__p {
    margin-left: 10px;
    color: $gray-text-color;
    order: -1;
    width: 270px;
}
