// Footer section styles

footer {
    background-color: $hero-section-footer-bacground-color;
    min-height: 252px;
    display: flex;
}

.footer__container {
    @include flex($justify: space-around, $align: stretch, $direction: row, $wrap: wrap);
    align-content: center;
}

.footer__div-main {
    width: 231px;
    height: 101px;
}

.footer__logo {
    color: $white-text-color-background-color;
    margin-bottom: 10px;
}

.footer__list {
    width: 231px;
    height: 81px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__li {
    color: $white-text-color-background-color;
    font-size: 14px;
}

.footer__div-form {
    width: 570px;
    min-height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footerForm__h3 {
    color: $white-text-color-background-color;
}

.footer__form {
    width: 100%;
    height: 50px;
    padding: 0;
    display: flex;
    gap: 12px;

    &>input {
        width: 450px;
        height: 50px;
        border: none;
        outline: none;
        border: 1px solid $light-border-color;
        background-color: $hero-section-footer-bacground-color;
        color: $white-text-color-background-color;
        border-radius: $radius-medium;
    }

        &>button {
        width: 200px;
        height: 50px;
        background-color: $span-buttonBackground-aHover-color;
        border-radius: $radius-medium;
        border: none;
        @include flex-center;
        align-items: center;
        color: $white-text-color-background-color;

        &>svg {
            width: 24px;
            height: 24px;
            fill: $white-text-color-background-color;
            margin-left: 5px;
        }
    }
}
