header {
    height: 80px;
    border-bottom: 2px solid $border-color;
    display: flex;
}

.header__container {
    @include flex($justify: space-around, $align: center, $wrap: wrap);
    align-self: center;
    height: 40px;
}

h1, .footer__logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: $text-color;
    animation-name: tada;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

nav {
    @include flex($justify: space-between);
}

.info__list {
    width: 333px;
    height: 16px;
    @include flex($justify: space-between);
}

.info__link {
    color: $gray-text-color;
}

.nav__list {
    height: 40px;
    width: 286px;
    @include flex($justify: space-between, $align: center);
    padding: 0;
}

.nav__link,
.info__link {
    height: 14px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $span-buttonBackground-aHover-color;

        .header-svg-items {
            fill: $span-buttonBackground-aHover-color;
        }
    }

    &:not(.active):hover {
        color: $span-buttonBackground-aHover-color;
    }
}

.nav__link-active {
    color: $span-buttonBackground-aHover-color;

    &:after {
        content: "";
        position: absolute;
        top: 260%;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $span-buttonBackground-aHover-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease;
        animation: line-animate 1.5s ease infinite;
    }
}

.nav__item {
    position: relative;

    &:not(.active)::after {
        content: "";
        position: absolute;
        top: 260%;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $span-buttonBackground-aHover-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease;
    }

    &:not(.active):hover::after {
        transform: scaleX(1);
        opacity: 1;
        transform-origin: right;
    }
}

.info__svg {
    width: 16px;
    height: 12px;
    transition: fill $anim-time, color $anim-time;
    fill: $gray-text-color;
}
