header {
    height: 80px;
    border-bottom: 2px solid $border-color;
    display: flex;
}

.header-container {
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

h1, .footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: $text-color;
    animation-name: tada;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

nav {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 333px;
    height: 16px;
    justify-content: space-between;
}

.header-menu-list {
    height: 40px;
    width: 286px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header-menu-a-items {
    height: 14px;
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: $span-buttonBackground-aHover-color;

        .header-svg-items {
            fill: $span-buttonBackground-aHover-color;
        }
    }

    &:not(.active):hover {
        color: $span-buttonBackground-aHover-color;
    }
}

.active {
    color: $span-buttonBackground-aHover-color;

    &::after {
        content: "";
        position: absolute;
        top: 260%;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $span-buttonBackground-aHover-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease;
        animation: line-animate 1.5s ease infinite;
    }
}

.header-menu-list-items {
    position: relative;

    &:not(.active)::after {
        content: "";
        position: absolute;
        top: 260%;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $span-buttonBackground-aHover-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease;
    }

    &:not(.active):hover::after {
        transform: scaleX(1);
        opacity: 1;
        transform-origin: right;
    }
}

.header-svg-items {
    width: 16px;
    height: 12px;
    transition: fill $anim-time, color $anim-time;
}
