.hero {
    background-image: url(../../images/desktop/index/hero-background1.jpg);
    background: linear-gradient(0deg, )rgba(#00000065, 5);
    background-position: center;
    height: 600px;
    width: 100vw;
    margin: 0;
    @include flex($justify: center, $align: center);
    text-align: center;
    outline: auto;
}

.hero__h2 {
    font-size: 44px;
    color: $white-text-color-background-color;
}

.hero__button {
    width: 216px;
    height: 50px;
    background-color: $span-buttonBackground-aHover-color;
    color: $white-text-color-background-color;
    font-size: 16px;
    padding: auto;
    border: 0;
    border-radius: $radius-small;
    cursor: pointer;
    animation-name: bnt-jump;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
