.js-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  transform: translateX(100%);
  transition: transform 250ms ease;
  z-index: 999;
}

.js-menu-container.is-open {
  transform: translateX(0);
  display: none;
}
