.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $z-modal;
    transition: opacity 0.5s linear;
    opacity: 1;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    padding: 15px;
    background-color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal__form {
    width: 100%;
    height: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal__bnt-close {
    width: 30px;
    height: 30px;
    border: 2px solid $modal-border-color;
    opacity: 0.6;
    border-radius: $radius-circle;
    background-color: white;
    margin: 5px 5px 0 0;
    cursor: pointer;
    align-self: flex-end;
    transition: transform 250ms ease-in-out 100ms;

    &:hover {
        border: 2px solid $span-buttonBackground-aHover-color;
        transform: rotate(180deg);

        svg {
            fill: $span-buttonBackground-aHover-color;
        }
    }

    &>svg {
        width: 11px;
        height: 11px;
        fill: black;
        opacity: 100;
    }
}

.modal__h2 {
    font-size: 20px;
}

.modal__label {
    width: 448px;
    height: 58px;
    display: inline-block;
}

.input__box {
    width: 448px;
    border: 2px solid $modal-border-color;
    border-radius: $radius-medium;
    display: flex;
    align-items: center;
    transition: border-color 250ms ease;

    &:hover,
    &:focus-within {
        border-color: $span-buttonBackground-aHover-color;

        .modal-input-lable-p {
            color: $span-buttonBackground-aHover-color;
        }

        .modal-form-svg-items {
            fill: $span-buttonBackground-aHover-color;
        }
    }
}

.modal-input-lable-p {
    text-align: left;
    color: $modal-border-color;
    margin-bottom: 5px;
}

.modal__input,
.modal__textarea {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
}

.input__svg {
    width: 18px;
    height: 18px;
    margin: 0 10px;
    fill: black;
    transition: fill 250ms ease;
}

.modal__textarea {
    outline: 0;
    width: 448px;
    height: 120px;
    resize: none;
    border: 2px solid $modal-border-color;
    border-radius: $radius-medium;
    padding: 5px 0 0 5px;
    transition: border-color $anim-time;

    &:focus,
    &:hover {
        border-color: $span-buttonBackground-aHover-color;
    }
}

.modal__label-checkbox {
    &>a {
        color: $span-buttonBackground-aHover-color;
    }
}

.modal__bnt-sub {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: $span-buttonBackground-aHover-color;
    border-radius: $radius-small;
    cursor: pointer;
}
