.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $z-modal;
  opacity: 1;
  transition: opacity 250ms ease;

  @include flex($justify: center, $align: center);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  border-radius: $radius-medium;

  @include flex($justify: space-around, $direction: column);

  position: relative;
}

.modal__form {
  width: 100%;
  @include flex($direction: column);
  gap: 12px;
}

.modal__bnt-close {
  width: 30px;
  height: 30px;
  border: 2px solid $modal-border-color;
  border-radius: $radius-circle;
  background-color: #fff;
  opacity: 0.6;
  cursor: pointer;

  display: flex;
  @extend %centered-flex;

  position: absolute;
  top: 8px;
  right: 8px;

  transition: transform 250ms ease, border-color 250ms ease;

  &:hover {
    border-color: $span-buttonBackground-aHover-color;
    transform: rotate(180deg);

    svg {
      fill: $span-buttonBackground-aHover-color;
    }
  }

  svg {
    width: 11px;
    height: 11px;
    fill: #000;
  }
}

.modal__h2 {
  font-size: 20px;
  margin-bottom: 12px;
}

.modal__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal__p {
  font-size: 12px;
  color: $modal-border-color;
  text-align: left;
}

.input__box {
  width: 100%;
  height: 40px;
  border: 2px solid $modal-border-color;
  border-radius: $radius-medium;
  display: flex;
  @extend %centered-flex;
  transition: border-color 250ms ease;

  &:hover,
  &:focus-within {
    border-color: $span-buttonBackground-aHover-color;

    .modal__p {
      color: $span-buttonBackground-aHover-color;
    }

    .input__svg {
      fill: $span-buttonBackground-aHover-color;
    }
  }
}

.modal__input {
  width: 448px;
  height: 100%;
  border: none;
  outline: none;
}

.input__svg {
  width: 18px;
  height: 18px;
  margin: 0 10px;
  fill: #000;
  transition: fill 250ms ease;
}

.modal__textarea {
  width: 97%;
  height: 120px;
  resize: none;
  border: 2px solid $modal-border-color;
  border-radius: $radius-medium;
  padding: 8px;
  outline: none;
  transition: border-color 250ms ease;

  &:hover,
  &:focus {
    border-color: $span-buttonBackground-aHover-color;
  }
}

.modal__label-checkbox {
  font-size: 12px;

  a {
    color: $span-buttonBackground-aHover-color;
  }
}

.modal__bnt-sub {
  align-self: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: $radius-small;
  background-color: $span-buttonBackground-aHover-color;
  color: #fff;
  cursor: pointer;
}
