// Our Team section styles

.OurTeam {
    background-color: $OurTeam-section-bacground-color;
    min-height: 708px;
    padding: 95px 0;
}

.OurTeam__container {
    min-height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.OurTeam__h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.OurTeam__list {
    display: flex;
    justify-content: space-between;
}

.OurTeam__li {
    width: 270px;
    height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white-text-color-background-color;
    border-radius: $radius-medium;
    box-shadow: 0px 2px 30px -19px rgba(0, 0, 0, 0.76);
}

.OurTeam__img {
    width: 270px;
    height: 260px;
}

.OurTeam__socialNetwork {
    fill: $regular-customers-color !important;
}

.socialNetwork__circle:hover .OurTeam__social__network {
    fill: white !important;
}
