// Our Team section styles

.OurTeam {
    background-color: $OurTeam-section-bacground-color;
    min-height: 708px;
    display: flex;
}

.OurTeam__container {
    min-height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.OurTeam__h2 {
    font-size: 36px;
    margin-bottom: 50px;
    margin: 0;
}

.OurTeam__list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.OurTeam__li {
    width: 270px;
    height: 368px;
    @extend %card;
}

.OurTeam__img {
    width: 270px;
    height: 260px;
}

.OurTeam__socialNetwork {
    fill: $regular-customers-color !important;
}

.socialNetwork__circle:hover .OurTeam__socialNetwork {
    fill: rgb(255, 255, 255) !important;
}
