// Portfolio/Projects page styles

.portfolio__section {
    min-height: 1360px;
    margin: 50px auto;
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 5px;
}

.filters__items {
    background-color: $OurTeam-section-bacground-color;
    border-radius: $radius-medium;
    padding: 10px;
    margin: 0 10px;
    transition: $anim-time-full;

    &:hover {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        background-color: $span-buttonBackground-aHover-color;
        color: $white-text-color-background-color;
        cursor: pointer;
    }
}

.projects__list {
    min-height: 1264px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 15px;
}

.project {
    width: 370px;
    height: 404px;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.5s ease-in-out 200ms;

    &:hover {
        box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);

        .overlay {
            transform: translatey(0);
        }
    }
}

.projects__h3 {
    font-size: 18px;
}

.projects__p {
    color: $gray-text-color;
    margin-bottom: 30px;
}

.project__img {
    width: 370px;
    height: 294px;
}

.overlay__box {
    width: 370px;
    height: 294px;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;

    &>p {
        color: $white-text-color-background-color;
        font-size: 18px;
        padding: 63px 24px;
    }
}
