// Regular Customers section styles

.regularCustomers {
    max-width: $container-max-width;
    min-height: 184px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.regularCustomers__h2 {
    font-size: 36px;
}

.regularCustomers__list {
    min-height: 92px;
    display: flex;
    justify-content: space-between;
}

.regularCustomers__li {
    width: 170px;
    height: 92px;
    border: 1px solid $regular-customers-color;
    border-radius: $radius-small;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $anim-time;

    &:hover {
        border-color: $span-buttonBackground-aHover-color;

        .customer {
            fill: $span-buttonBackground-aHover-color;
        }
    }
}

.customer {
    fill: $regular-customers-color;
    transition: $anim-time;
}

.first__customer {
    height: 47px;
}

.second__customer {
    height: 52px;
}

.third__customer {
    height: 41px;
}

.fourth__customer {
    height: 40px;
}

.fifth__customer {
    height: 45px;
}

.sixth__customer {
    height: 44px;
}
