// Social Networks section styles

.socialNetworks {
    width: 206px;
    height: 80px;
    @include flex($direction: column);
}

.socialNetworks__list {
    width: 206px;
    height: 44px;
    @include flex($justify: space-between, $direction: row);
    margin: 0 !important;
    padding: 0 !important;
}

.socialNetworks__h3 {
    color: white;
    height: 14px;
    font-size: 14px;
}

.socialNetwork__circle {
    width: 44px;
    height: 44px;
    @extend %centered-flex;
    border-radius: $radius-circle;
    background-color: $footer-circle-bg;
    transition: $anim-time;

    &:hover {
        background-color: $span-buttonBackground-aHover-color;
    }
}

.socialNetwork {
    width: 20px;
    height: 20px;
    fill: white;
}
