// What Do We Do section styles

.WhatDoWeDo__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WhatDoWeDo__h2 {
    margin: 0 auto;
    font-size: 42px;
    margin-bottom: 20px;
}

.WhatDoWeDo__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.first__img,
.first__p {
    @include animate-Y(3s, ease-in-out, infinite, alternate, 0s);
}

.second__img,
.second__p {
    @include animate-Y(3s, ease-in-out, infinite, alternate, 3s);
}

.third__img,
.third__p {
    @include animate-Y(3s, ease-in-out, infinite, alternate, 6s);
}

.WhatDoWeDo__img {
    width: 370px;
    height: 294px;
    display: block;
}

.img__box {
    width: 370px;
    height: 294px;
    position: relative;
}

.WhatDoWeDo__p {
    height: 70px;
    width: 370px;
    bottom: 0px;
    position: absolute;
    background-color: $hero-section-footer-bacground-color;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    &>span {
        color: $white-text-color-background-color;
    }
}