:root {
    --text-color:#212121;
    --white-text-color-background-color:#FFFFFF;
    --gray-text-color:#757575;
    --span-buttonBackground-aHover-color:#2196F3;
    --hero-section-footer-bacground-color:#2F303A;
    --OurTeam-section-bacground-color:#F5F4FA;
    --regular-customers-color: #AFB1B8;
    --anim-time: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, p {
    margin: 0;
}

span {
    color: var(--span-buttonBackground-aHover-color);
}

li {
    list-style: none;
    display: inline-block;
}

ul {
    padding: 0;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

section:not(.OurTeam) {
    margin-bottom: 100px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/*<header>*/

header {
    height: 80px;
    border-bottom: 2px solid #cecece;
    display: flex;
}

.header-container {
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    padding: 0;
}

h1, .footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: var(--text-color)
    
} 

nav {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 333px;
    height: 16px;
    justify-content: space-between;
}

.header-menu-list {
    height: 40px;
    width: 286px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header-menu-a-items {
    height: 14px;
    text-decoration: none;
    color: var(--text-color);
}

.active {
    color: var(--span-buttonBackground-aHover-color) !important;
}

.active::after {
    content: "";
    position: absolute;
    top: 260%;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--span-buttonBackground-aHover-color);
    transform: scaleX(0);
    transform-origin: left; 
    transition: transform 0.4s ease;
    animation: line-animate 1.5s ease infinite; 
}

.header-menu-list-items {
    position: relative;
}

.header-menu-list-items:not(.active)::after {
    content: "";
    position: absolute;
    top: 260%;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--span-buttonBackground-aHover-color);
    transform: scaleX(0);
    transform-origin: left; 
    transition: transform 0.4s ease;
}

.header-menu-list-items:not(.active):hover::after {
    transform: scaleX(1);
    opacity: 1;
    transform-origin: right;
}

.header-svg-items {
    width: 16px; 
    height: 12px;
}

.header-menu-a-items:hover .header-svg-items {
    fill: var(--span-buttonBackground-aHover-color);
}

.header-menu-a-items:not(.active):hover {
    color: var(--span-buttonBackground-aHover-color);
    transition: var(--anim-time);
}

/*header*/
/*main*/

section {
    width: 1170px;
    height: 1360px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filters-items {
    background-color: var(--OurTeam-section-bacground-color);
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    transition: var(--anim-time);
}

.filters-items:hover {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    background-color: var(--span-buttonBackground-aHover-color);
    color: var(--white-text-color-background-color);
    cursor: pointer;
}

/*projects*/

.projects-list {
    min-height: 1264px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	align-content: space-between;
}

.project {
    width: 370px;
    height: 404px;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.5s ease-in-out 200ms;
}

.project:hover {
    box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
}

.projects-h3 {
    font-size: 18px;
}

.projects-p {
    color: var(--gray-text-color);
    margin-bottom: 30px;
}

.project-img {
    width: 370px;
    height: 294px;
}

.overlay-box {
    width: 370px;
    height: 294px;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 90%);
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
}

.project:hover .overlay {
    transform: translatey(0);
}

.overlay>p {
    color: var(--white-text-color-background-color);
    font-size: 18px;
    padding: 63px 24px;
}

/*projects*/

/*main*/

/*footer*/

footer {
    background-color: var(--hero-section-footer-bacground-color);
    height: 252px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer-logo {
    color: var(--white-text-color-background-color);
    margin-bottom: 10px;
}

.footer-list {
    width: 231px;
    height: 81px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-list-items {
    color: var(--white-text-color-background-color);
    font-size: 14px;
}

.footer-div-form {
    width: 570px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-form-h3 {
    color: var(--white-text-color-background-color);
}

.footer-form {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-form>input {
    width: 358px;
    height: 50px;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--hero-section-footer-bacground-color);
    color: var(--white-text-color-background-color);
    padding-left: 2%;
    border-radius: 4px;
}

.footer-form>button {
    width: 200px;
    height: 50px;
    background-color: var(--span-buttonBackground-aHover-color);
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-text-color-background-color);
}

.footer-form>button>svg {
    width: 24px;
    height: 24px;
    fill: var(--white-text-color-background-color);
    margin-left: 5px;
}

/*footer*/

/*social-networks*/

.social-networks {
    width: 206px;
    height: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.social-networks-list {
    width: 206px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0 !important;
}

.social-networks-h3 {
    color: white;
    height: 14px;
    font-size: 14px;
}

.social-network-circle {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.235)
}

.social-network-circle:hover {
    background-color: #2196F3;
    transition: var(--anim-time);
}

.social-network {
    width: 20px;
    height: 20px;
    fill: white;
}

/*social-networks*/