// Common styles for all pages

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: $text-color;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, p {
    margin: 0;
}

span {
    color: $span-buttonBackground-aHover-color;
}

li {
    list-style: none;
    display: inline-block;
}

ul {
    padding: 0;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

section:not(.OurTeam) {
    margin-bottom: 100px;
}
/*
.container {
    width: 1170px !important;
    margin: 0 auto;
    padding: 0 15px;
}
*/
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
