@media (max-width: 767px) {
    .container {
       width: 100%;
    }

    header {
        height: 60px;
        justify-content: space-between;
    }

    .header__container {
        justify-content: space-between;
    }

    nav,
    .info__list {
        display: none;
    }

    .js-open-menu {
        display: block !important;
        cursor: pointer;
    }

    .hero {
        height: 400px;
        background-image: url("../../images/mobile/index/hero-background1.jpg");    
    }


    .hero__h2 {
        font-size: 26px;
    }

    .modal {
        width: calc(100% - 30px);
        height: calc(100vh - 184px);
    }

    .features__container {
        flex-direction: column;
        align-content: center;
    }

    .features__items {
        width: calc(100% - 15px);
    }

    .OurTeam__list {
        flex-direction: column;
        align-content: center;
    }

    .WhatDoWeDo {
        display: none;
    }

    footer {
        min-height: 603px;
    }

    .footer__container {
        height: 603px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .footer__logo {
        text-align: center;
    }

    .footer__list {
        text-align: center;
    }

    .footer__div-form {
        width: 100%;
        height: 156px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer__form {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer__form {
        &>input {
            width: 100%;
            padding: 15px;
        }

        &>button {
            padding: 15px 0px;
        }
    }
}
@media (min-width: 767px) and (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .info__list {
        width: 138px;
        height: 38px;
        flex-direction: column;
    }

    .nav__list {
        width: 283px;
    }

    .hero {
        height: 400px;
        background-image: url("../../images/tablet/index/hero-background1.jpg");    
    }

    .modal {
        width: 450px;
        height: 609px;
    }

    .features__container {
        @include flex-center();
        gap: 15px;
    }

    .features__items {
        width: calc(50% - 30px);
    }

    .first {
        animation-delay: 0s;
    }

    .second {
    animation-delay: 0.5s;
    }

    .WhatDoWeDo {
        display: none;
    }

    .OurTeam {
        min-height: 1285px;
    }

    .OurTeam__list {
        justify-content: center;
    }

    .OurTeam__li {
        width: 354px;
        height: 536px;
    }

    .OurTeam__img {
        width: 354px;
        height: 374px;
    }  
    
    .regularCustomers__li {
        width: 30%;
    }

    .regularCustomers__list {
        gap: 30px;
    }

    .footer__list {
        text-align: center;
    }

    .footer__logo {
       text-align: center;
    }

    .footer__div-form {
        align-items: center;
    }
}

@media (min-device-pixel-ratio: 2),
       (-webkit-min-device-pixel-ratio: 2), 
       (min-resolution: 192dpi), 
       (min-resolution: 2dippx),
       (min-width: 767px) and (max-width: 1200px) {

    .hero {
        background-image: url('../../images/tablet/index/hero-background2.jpg');    
    }
}

@media (min-device-pixel-ratio: 2),
       (-webkit-min-device-pixel-ratio: 2), 
       (min-resolution: 192dpi), 
       (min-resolution: 2dippx),
       (max-width: 767px) {

    .hero {
        background-image: url('../../images/mobile/index/hero-background2.jpg');    
    }
}
