@media (max-width: 767px) {
    .container {
       max-width: 450px;
    }

    header {
        height: 60px;
        justify-content: space-between;
    }

    nav,
    .info__list {
        display: none;
    }

    .hero__h2 {
        font-size: 26px;
    }

    .modal {
        width: calc(100% - 30px);
        height: calc(100vh - 184px);
    }

    .features__container {
        flex-direction: column;
        align-content: center;
    }

    .features__items {
        width: 450px;
    }

    .OurTeam__list {
        flex-direction: column;
        align-content: center;
    }

    .WhatDoWeDo {
        display: none;
    }

    footer {
        min-height: 603px;
    }

    .footer__container {
        height: 603px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .footer__logo {
        text-align: center;
    }

    .footer__list {
        text-align: center;
    }

    .footer__div-form {
        width: 450px;
        height: 156px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer__form {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer__form {
        &>input {
            padding: 15px 0px;
        }

        &>button {
            padding: 15px 0px;
        }
    }
}
@media (min-width: 767px) and (max-width: 1200px) {
    .container {
        max-width: 738px;
    }

    .info__list {
        width: 138px;
        height: 38px;
        flex-direction: column;
    }

    .nav__list {
        width: 283px;
    }

    .hero {
        height: 400px;
    }

    .modal {
        width: 450px;
        height: 609px;
    }

    .features__container {
        justify-content: center;
        gap: 15px;
    }

    .features__items {
        width: 354px;
    }

    .first {
        animation-delay: 0s;
    }

    .second {
    animation-delay: 0.5s;
    }

    .WhatDoWeDo {
        display: none;
    }

    .OurTeam {
        min-height: 1285px;
    }

    .OurTeam__li {
        width: 354px;
        height: 536px;
    }

    .OurTeam__img {
        width: 100%;
        height: 374px;
    }  
    
    .regularCustomers__li {
        width: 30%;
    }

    .regularCustomers__list {
        gap: 30px;
    }

    .footer__list {
        text-align: center;
    }

    .footer__logo {
       text-align: center;
    }

    .footer__div-form {
        align-items: center;
    }
}


