@mixin flex-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@mixin flex($justify: center, $align: stretch, $direction: row, $wrap: nowrap) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
	flex-wrap: $wrap;
}

@mixin animate-Y($duration: 3s, $timing: ease-in-out, $iteration: infinite, $direction: alternate, $delay: 0s) {
	animation-name: Y-move;
	animation-duration: $duration;
	animation-timing-function: $timing;
	animation-iteration-count: $iteration;
	animation-direction: $direction;
	animation-delay: $delay;
}

