%features__items-after {
	content: '';
	display: block;
	width: 100%;
	height: 120px;
	background-color: $OurTeam-section-bacground-color;
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}

%card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: $white-text-color-background-color;
	border-radius: $radius-medium;
	box-shadow: 0px 2px 30px -19px rgba(0, 0, 0, 0.76);
}

%centered-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

%link-underline {
	content: "";
	position: absolute;
	top: 260%;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: $span-buttonBackground-aHover-color;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.4s ease;
	animation: line-animate 1.5s ease infinite;
}

