// Main SCSS file - imports all styles

@import './vars';
@import './common';
@import '../sections/header';
@import '../sections/mobilemenu.scss';
@import '../sections/hero';
@import '../sections/features';
@import '../sections/whatdowedo';
@import '../sections/ourteam';
@import '../sections/regularcustomers';
@import '../sections/footer';
@import '../sections/socialnetworks';
@import '../sections/modal';
@import '../sections/portfolio';
@import './media';